<div class="form_item_block">
  <label>Gitea Server URL:<span class='asterix'>*</span></label>
  <input type="text" ng-model="server_url" ng-required="true"/>
  <span class="form_error" ng-show="GOINPUTNAME[server_url].$error.server">{{GOINPUTNAME[server_url].$error.server}}</span>
</div>

<div class="form_item_block">
  <label>API Authentication Token:<span class='asterix'>*</span></label>
  <input type="password" ng-model="auth_token" ng-required="true"/>
  <span class="form_error" ng-show="GOINPUTNAME[auth_token].$error.server">{{GOINPUTNAME[auth_token].$error.server}}</span>
</div>
